.DS_Store
.venv/

# Xcode
DerivedData/
.derivedData/
*.xcuserstate
*.xcuserdata
AppDock.xcodeproj/xcuserdata/
AppDock.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# SwiftLint
.swiftlint_cache/

# MkDocs site output
AppDock_Docs/site/
